config/
debug/
dist/
docs/
examples/
node_modules/
release-note/
scripts/
secrets/
debug/
data/
log/
secrets/
config/

.github/
.vscode/
.git/
.dvc/
.yarn/*
!.yarn/releases
!.yarn/plugins
!scripts/docker-entrypoint/*.sh
!scripts/docker.*.sh

*.md
*.jpg
*.png
*.gz
*.zip