.DS_Store
.idea/
yarn-error.log
.yarn/releases/yarn-3.3.1.cjs
/node_modules/
/dist/
.yarn/*
!.yarn/releases
!.yarn/plugins

.env.*
!.env.local
!.env.host

.tmp.test/

/secrets/*

.DS_Store

src/debug
debug/
data/
log/
secrets/

*.log
*.sublime-workspace

# MacOS related
.DS_Store
